.page {
  min-height: 100svh;
  padding-top: 60px;
  font-family: var(--font-geist-sans);
  background-color: white;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}
